{% extends "base-with-aside-menu-content.html" %}

{% load i18n %}

{% block content %}

<h1 class="page-title">{% translate 'Group' %}</h1>
<form action="{% url 'admin_group_save' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="pk" value="{{ pk }}">

    <fieldset>
        <legend>{% translate 'Group' %}</legend>
        <p>
            <label class="common-label" for="{{ form.name.auto_id }}">{{ form.name.label }}</label>
            {{ form.name }}
        </p>
    </fieldset>

    <fieldset>
        <legend>{% translate 'Permissions' %}</legend>

        {% if permission_list %}
        <div class="perm-tables">
            {% for g in permission_list %}
            <div class="card perm-table">
                <div class="card__header card__header--light">{% translate g.name %}</div>
                <div class="card__body">
                    <table class="detail no-border">
                        {% for obj in g.perms %}
                        <tr>
                            <td>
                                <label class="checkbox-line">
                                    <input type="checkbox" name="{{ obj.codename }}" {% if obj.checked %}checked{% endif %}>
                                    {% translate obj.name %}
                                </label>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </fieldset>
    <p>
        <input class="black-submit" id="submit" type="submit" value="{% translate 'Save' %}" />
    </p>
</form>

{% endblock content %}