{% extends "base-with-aside-menu-content.html" %}

{% load article_filters i18n %}

{% block content %}

<h1 class="page-title" id="tbl-desc">{% translate 'Building units' %}</h1>

<div class="filter-container">

    <div class="filter-item">
        <p>
            <a class="btn--primary" href="{% url 'admin_building_unit_edit' pk=0 %}">{% translate 'Add new unit' %}</a>&nbsp;
            <a class="btn--secondary" href="{% url 'admin_building_unit_export_to_excel' %}">{% translate 'Export to Excel' %}</a>&nbsp;
        </p>
    </div>

    <div class="filter-item">
        <p>{% translate 'Type' %}</p>
    </div>

    <div class="filter-item">
        <p>
        <form action="{% url 'admin_building_unit' %}" method="get">
            <select name='type_filter' class='common-input' onchange='this.form.submit()'>
                <option value="0">-------</option>
                {% for t in type_list %}
                <option value="{{ t.pk }}" {% if type_filter == t.pk %}selected{% endif %}>{{ t.description }}</option>
                {% endfor %}
            </select>
        </form>
        </p>
    </div>

    <div class="filter-item">
        <p>{% translate 'Entrance' %}</p>
    </div>

    <div class="filter-item">
        <p>
        <form action="{% url 'admin_building_unit' %}" method="get">
            <select name='entrance_filter' class='common-input' onchange='this.form.submit()'>
                <option value="0">-------</option>
                {% for e in entrance_list %}
                <option value="{{ e.pk }}" {% if entrance_filter == e.pk %}selected{% endif %}>{{ e.description }}</option>
                {% endfor %}
            </select>
        </form>
        </p>
    </div>
</div>

{% include 'includes/admin_list_table.html' %}

{% endblock content %}