{% extends "base-with-aside-menu-content.html" %}

{% load article_filters i18n %}

{% block content %}

<h1 class="page-title" id="users">{% translate 'User' %}</h1>

<div class="filter-container">

    <div class="filter-item">
        <p>
            <a class="btn--primary" href="{% url 'admin_user_edit' pk=0 %}">{% translate 'Create new user' %}</a>&nbsp;
            <a class="btn--secondary" href="{% url 'admin_user_export_to_excel' %}">{% translate 'Export to Excel' %}</a>&nbsp;
        </p>
    </div>

    <div class="filter-item">
        <p>{% translate 'Deactivated users' %}</p>
    </div>
    <div class="filter-item">
        <p>
        <form action="{% url 'admin_user' %}" method="get">
            <input type="checkbox" name="deactivated_users" {% if deactivated_users %}checked{% endif %}  onchange='this.form.submit()'  />
        </form>
        </p>
    </div>

    <div class="filter-item">
        <p>{% translate 'Group' %}</p>
    </div>
    <div class="filter-item">
        <p>
        <form action="{% url 'admin_user' %}" method="get">
            <select name='group_filter' class='common-input' onchange='this.form.submit()'>
                <option value="0">-------</option>
                {% for r in group_list %}
                <option value="{{ r.pk }}" {% if group_filter == r.pk %}selected{% endif %}>{{ r.name }}</option>
                {% endfor %}
            </select>
        </form>
        </p>
    </div>
</div>

{% include 'includes/admin_list_table.html' %}

{% endblock content %}