{% extends "base-with-aside-menu-content.html" %}

{% load article_filters i18n %}

{% block content %}

<div class="article-detail">
    <nav class="breadcrumb" aria-label="{% translate 'Breadcrumb' %}">
        <a href="{% url 'adverts_list' %}">{% translate 'Adverts' %}</a><span class="breadcrumb-sep">/</span>
        <span class="breadcrumb-current">{{ obj.header }}</span>
    </nav>

    {% if obj.cover_image %}
    <a class="js-lightbox" href="/media/{{ obj.cover_image }}">
        <img class="article-img" src="/media/{{ obj.cover_image }}" alt="">
    </a>
    {% endif %}

    <h1 class="article-title">{{ obj.header }}</h1>
    <p class="info">
        {% translate 'Type' %}: <strong>{{ obj.type.description }}</strong>,
        {% translate 'Author' %}: <strong>{{ obj.created_by_user.first_name }}&nbsp;{{ obj.created_by_user.last_name }}</strong>,
        <strong>{{ obj.created_date|date:"d.m.Y" }}</strong>
    </p>

    <div class="article-body">{{ obj.body|safe }}</div>

    {% if obj.phone or obj.email %}
    <p class="contact">
        {% if obj.phone %}{% translate 'Phone' %}: {{ obj.phone }}{% endif %}
        {% if obj.phone and obj.email %}&nbsp;|&nbsp;{% endif %}
        {% if obj.email %}{% translate 'E-Mail' %}: <a href="mailto:{{ obj.email }}">{{ obj.email }}</a>{% endif %}
    </p>
    {% endif %}

    {% if obj.image_assets %}
    <h2 id="gallery" class="comment-title">{% translate 'Gallery' %}</h2>
    <div class="advert-gallery">
        {% for a in obj.image_assets %}
        <a class="advert-gallery__item js-lightbox" href="/media/{{ a.file }}">
            <img src="/media/{{ a.file }}" alt="{{ a.description }}">
        </a>
        {% endfor %}
    </div>
    {% endif %}

    {% if obj.other_assets %}
    <h2 id="assets" class="comment-title">{% translate 'Assets' %}:</h2>
    <table class="list fixed-on-mobile" aria-describedby="assets">
        <tr>
            <th class="icon">&nbsp;</th>
            <th>{% translate 'File' %}</th>
        </tr>
        {% for a in obj.other_assets %}
        <tr>
            <td class="icon"><span class="icon-static">{% icon a.icon %}</span></td>
            <td><a href="/media/{{ a.file }}">{% if a.description %}{{ a.description }}{% else %}{{ a.basename }}{% endif %}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if perms.articles.svjis_add_advert and obj.created_by_user == request.user %}
    <p>
        <a class="secondary-button" href="{% url 'adverts_edit' pk=obj.pk %}">{% translate 'Edit' %}</a>
        <a class="btn--danger" onclick="if (!confirm('{% translate 'Do you want to delete' %} {{ obj.header }} ?')) return false;" href="{% url 'adverts_delete' pk=obj.pk %}">{% translate 'Delete advert' %}</a>
    </p>
    {% endif %}
</div>
{% endblock content %}
