{% extends "base-with-aside-menu-content.html" %}

{% load article_filters i18n %}

{% block content %}

<h1 class="page-title" id="adverts">{{ header }}</h1>

{% if perms.articles.svjis_add_advert %}
<a href="{% url 'adverts_edit' pk=0 %}" class="btn--primary">{% translate 'Create new advert' %}</a>
{% endif %}

{% if object_list %}
{% for obj in object_list %}
<div class="advert_c{{ obj.type.pk|default:'1' }}">
    {% if obj.cover_image %}
    <a class="advert-thumb" href="{% url 'adverts_detail' pk=obj.pk %}">
        <img src="/media/{{ obj.cover_image }}" alt="">
    </a>
    {% endif %}
    <div class="advert-desc">
        <h2><a href="{% url 'adverts_detail' pk=obj.pk %}">{{ obj.header }}</a></h2>
        <p class="info">
            {% translate 'Type' %}: <strong>{{ obj.type.description }}</strong>,
            {% translate 'Author' %}: <strong>{{ obj.created_by_user.first_name }}&nbsp;{{ obj.created_by_user.last_name }}</strong>,
            {{ obj.created_date|date:"d.m.Y" }}
        </p>
        <div class="body">{{ obj.body|truncatewords_html:30|safe }}</div>
        <p>
            <a class="secondary-button" href="{% url 'adverts_detail' pk=obj.pk %}">{% translate 'Read more' %}</a>
            {% if perms.articles.svjis_add_advert and obj.created_by_user == request.user %}
            <a class="secondary-button" href="{% url 'adverts_edit' pk=obj.pk %}">{% translate 'Edit' %}</a>
            {% endif %}
        </p>
    </div>
</div>
{% endfor %}
{% endif %}

{% endblock content %}
