{% extends "base-with-aside-menu-content.html" %}

{% load article_filters i18n %}

{% block content %}

{% include 'includes/breadcrumbs.html' %}

<h1 class="article-title">{{ obj.subject|highlight:search|safe }}</h1>

<div class="article-detail edit-layout">

    <div class="edit-main">

        <p class="info">
            <strong>{{ obj.created_date|date:"d.m.Y H:i" }}</strong>,
            {% translate 'Created by' %}: <strong>{{ obj.created_by_user.first_name }}&nbsp;{{ obj.created_by_user.last_name }}</strong>
            {% if user in obj.watching_users.all %}
            <a class="watch-toggle watch-toggle--active" title="{% translate 'Stop watching project' %}" href="{% url 'project_watch' %}?id={{ obj.pk }}&watch=0">{% icon 'bell' %}</a>
            {% else %}
            <a class="watch-toggle" title="{% translate 'Start watching project' %}" href="{% url 'project_watch' %}?id={{ obj.pk }}&watch=1">{% icon 'bell' %}</a>
            {% endif %}
            {% if obj.assigned_to_user %}
            , {% translate 'Assigned to' %}: <strong>{{ obj.assigned_to_user.first_name }}&nbsp;{{ obj.assigned_to_user.last_name }}</strong>
            {% endif %}
            {% if obj.deadline %}
            , {% translate 'Deadline' %}: <strong>{{ obj.deadline|date:"d.m.Y" }}</strong>
            {% endif %}
            , <span class="badge badge--{{ obj.status.color }}">{{ obj.status.name }}</span>
        </p>

        {% include 'includes/tags_detail.html' with tags=tags %}

        <div class="description-box">
            {% if can_edit %}
            <a class="edit-link" title="{% translate 'Edit' %}" href="{% url 'projects_project_edit' pk=obj.pk %}">{% icon 'edit' %}</a>
            {% endif %}
            <div class="prose-svjis">
                {{ obj.description|highlight:search|safe }}
            </div>
        </div>

        {% if obj.image_assets %}
        <h2 id="gallery" class="comment-title">{% translate 'Gallery' %}</h2>
        <div class="advert-gallery">
            {% for a in obj.image_assets %}
            <a class="advert-gallery__item js-lightbox" href="/media/{{ a.file }}">
                <img src="/media/{{ a.file }}" alt="{{ a.description }}">
            </a>
            {% endfor %}
        </div>
        {% endif %}

        {% if obj.other_assets %}
        <h2 class="comment-title">{% translate 'Documents' %}:</h2>
        <div class="table-wrapper">
        <table class="list">
            <tr>
                <th class="icon">&nbsp;</th>
                <th>{% translate 'File' %}</th>
            </tr>
            {% for a in obj.other_assets %}
            <tr>
                <td class="icon"><span class="icon-static">{% icon a.icon %}</span></td>
                <td><a href="/media/{{ a.file }}">{% if a.description %}{{ a.description }}{% else %}{{ a.basename }}{% endif %}</a></td>
            </tr>
            {% endfor %}
        </table>
        </div>
        {% endif %}

        {% if obj.comments %}
        <h2 id="comments" class="comment-title">{% translate 'Comments' %}:</h2>
        {% for comment in obj.comments %}
        <div id="comment_{{ comment.id }}" class="comment-box">
            {% if comment.author == user and comment.is_editable %}
                <a class="edit-link" title="{% translate 'Modify' %}" href="{% url 'project_comment_edit' pk=comment.id %}">{% icon 'edit' %}</a>
            {% endif %}
            <strong>{{ comment.author.first_name }}&nbsp;{{ comment.author.last_name }} {{ comment.created_date|date:"d.m.Y H:i" }}</strong>
            <br>{{ comment.body|replace_url_to_link|linebreaks }}
        </div>
        {% endfor %}
        {% endif %}

        {% if perms.articles.svjis_add_project_comment %}
        <h2 class="comment-title">{% translate 'Add comment' %}:</h2>
        <form action="{% url 'project_comment_save' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="project_pk" value="{{ obj.pk }}">
            <p>
                <textarea class="common-textarea" name="body" rows="4"></textarea>
            </p>
            <p>
                <input class="black-submit" type="submit" value="{% translate 'Insert comment' %}">
            </p>
        </form>
        {% endif %}

    </div>

    <div class="edit-sidebar">

        <div class="card">
            <div class="card__header card__header--light">{% translate 'Status' %}</div>
            <div class="card__body">
                {% if can_edit %}
                <form action="{% url 'projects_project_change_status' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="pk" value="{{ obj.pk }}">
                    <select class="common-input full-width" name="status_id" id="id_status_id">
                        {% for s in all_statuses %}
                        <option value="{{ s.pk }}" {% if s.pk == obj.status.pk %}selected{% endif %}>{{ s.name }}</option>
                        {% endfor %}
                    </select>
                    <input class="btn--primary btn--block mt-4" type="submit" value="{% translate 'Update' %}">
                </form>
                {% endif %}
                <div class="last-updated">
                    <span class="last-updated__text">{% icon 'history' %} {% translate 'Last update' %} {{ obj.updated_date|relative_time }}</span>
                    <a class="last-updated__logs" href="{% url 'projects_project_logs' slug=obj.slug %}" title="{% translate 'View log' %}">{% icon 'chevron-down' %}</a>
                </div>
            </div>
        </div>

        {% if custom_fields %}
        <div class="card">
            <div class="card__header card__header--light">{% translate 'Custom fields' %}</div>
            <div class="card__body">
                <table class="detail no-border sidebar-fields">
                    {% include 'includes/custom_fields_detail.html' %}
                </table>
            </div>
        </div>
        {% endif %}

        {% if can_edit %}
        <div class="card">
            <div class="card__header card__header--light">{% translate 'Files' %}</div>
            <div class="card__body">
                <form action="{% url 'projects_project_asset_save' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="project_pk" value="{{ obj.pk }}">
                    <p>
                        <label class="common-label" for="{{ asset_form.description.auto_id }}">{{ asset_form.description.label }}</label>
                        {{ asset_form.description }}
                    </p>
                    <p>
                        <label class="common-label" for="{{ asset_form.file.auto_id }}">{{ asset_form.file.label }}</label>
                        {{ asset_form.file }}
                    </p>
                    <input class="btn--primary btn--block" id="submit2" type="submit" value="{% translate 'Upload' %}" />
                </form>
            </div>
        </div>
        {% endif %}

    </div>

</div>

{% endblock content %}
